body {
    background:black;
}

.welcome {
    /* background-color:rgb(250, 243, 201); */
    color: lightgray;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
}

#question,
#score-title {
    background: #ffffff;
    margin: 0px;
    font-size: 1.5em;
    padding: 20px;
    font-weight: bold;
}

#start {
    display: block;
    position: relative;
    padding: 10px 25px 10px 25px;
    background-color: tan;
    color:white;
    font-size: 25px;
    margin: 0 auto;
    border-radius: 10px;
}

#start:hover {
    background-color: gray;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: tan;
}

#initials {
    padding: 10px 0px 30px 0px;
}

#user-info {
    width: 40%;
}

.quiz {
    margin: 0px;
}

#submit,
#clear-scores {
    background-color: gray;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding:0px;
}

li,
.newScore {
    background-color: tan;
    padding: 20px;
    color: white;
    margin: 0px;
    border-bottom: 1px solid white;
    font-size: 1.17em;
}

li:hover {
    background-color: gray;
}

.timer {
    position: fixed;
    top: 0px;
    right: 30px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.correct {
    float: left;
    padding: 0px 0px 20px 10px;
    color: rgb(0, 155, 0);
}

.incorrect {
    float: left;
    padding: 0px 0px 20px 10px;
    color: red;
}

#clear-scores {
    float: right;
    margin: 15px 0px 20px 0px;
    padding: 10px;
}

.low-time {
    color: red;
    font-size: 2em;
}

@media (max-width: 640px) {
    .wrapper {
        width: 100%;
    }
    #timer {
        position: relative;
        left: 25px;
        text-align: left;
    }
}