body {
    background:black;
}

#question {
    background: #ffffff;
    margin: 0px;
    font-size: 1.5em;
    padding: 20px;
    font-weight: bold;
}

#start {
    display: block;
    position: relative;
    padding: 10px 25px 10px 25px;
    background-color: tan;
    color:white;
    font-size: 25px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 25%;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: tan;
}

#initials {
    padding: 10px 0px 30px 0px;
}

.quiz {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding:0px;
}

li,
.newScore {
    background-color: tan;
    padding: 20px;
    color: white;
    margin: 0px;
    border-bottom: 1px solid white;
    font-size: 1.17em;
}

li:hover {
    background-color: black;
}

#timer {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.correct {
    text-align: left;
    padding: 0px 0px 20px 10px;
    color: rgb(0, 155, 0);
}

.incorrect {
    text-align: left;
    padding: 0px 0px 20px 10px;
    color: red;
}

#clear-scores {
    margin: 20px;
}